


.content {
  /*border-style: solid;
    border-color: blue;*/
padding-top: 40%;
padding-bottom: 0;
margin-bottom: 0;
}

.play {
  border: solid red;
  transform: translate(30px, 20px) rotate(20deg);
  width: 140px;
  height: 60px;
}

/*
image as button:

<a href="default.asp">
  <img src="smiley.gif" alt="HTML tutorial" style="width:42px;height:42px;">
</a>
*/
