
h1 {
/*  color: #262730;*/
  line-height: 11px;
  font-family: "Didot", sans-serif;
  font-size: 40px;
}


.content {
  /*border-style: solid;
    border-color: blue;*/
padding-top: 40%;
padding-bottom: 0;
margin-bottom: 0;
}

.play {
  border: solid red;
  transform: translate(30px, 20px) rotate(20deg);
  width: 140px;
  height: 60px;
}
