/* unvisited link */
a:link {
  text-decoration: none;
  color: #EFF0D1;
}

/* visited link */
a:visited {
  color: #EFF0D1;
}

/* mouse over link */
a:hover {
  color: #D6C0D0;
}

/* selected link */
a:active {
  color: #EFF0D1;
}

/* In order for the percentage heights to work we need this: */
html, body { height:100%; }


p {
  float: none;
  padding: 10% 10% 10% 10%;
  color: tomato;
  line-height: 30px;
  font-family: "Univers LT Std", "57 Condensed", sans-serif;
  font-size: 20px;
  background-color: hsla(0, 100%, 90%, 0.2);
}

.full {
  /*
  border-color: blue;
  border-width: 10px;
  border-style: solid;
  */


  background: #262730;

  font-family: "Univers LT Std", "57 Condensed", sans-serif;
}

.aside {
  opacity: 60%;
}

.images {
  float:right;
  padding: 1% 1% 1% 1%;
