.door{
  postion: relative;

  background:#CF3D49;
  width:210px;
  height:75%;
}

.dot {

  position: absolute;
  height: 19px;
  width: 19px;
  background-color: #EFF0D1;
  border-radius: 50%;
  display: inline-block;

  margin-top: 320px;
  margin-left: 550px;
  z-index: 2;


  transition-duration: 0.4s;
  cursor: pointer;
}

.doorandknob{

}

.dot:hover {
  background-color: #D6C0D0;
}


.content1 {
  position: relative;
/*
  border-style: solid;
  border-color: pink;
  */

  padding-top: 10%;
  z-index:0;
}

.ourgaze {
  /*
  border-style: solid;
  border-color: purple;
  */

  position: absolute;

  margin-top: 5%;
  margin-left: 38%;
  z-index:2;

  color: #EFF0D1;
  line-height: 11px;
  font-family: "Didot", sans-serif;
  font-size: 40px;
  letter-spacing: 0.4px;
  letter-spacing: 0.4px;
}

.Our {
  padding-left: 50%;
  padding-top: 46px;

}

.Gaze {
  padding-top: 40px;
  padding-left: 92%;

  color: #262730;

}

.Travels {
padding-top: 80px;
padding-left: 0px;
}

.Through {
  padding-top: 70px;
  padding-left: 92%;

}

.Space {
  padding-top: 200px;
  padding-left: 32%;
  color: #262730;
}


/*
.gazethrough {
  border-style: solid;
  border-color: pink;


  position:relative;

}
*/


@media (max-width: 1040px ) {
  .ourgaze {

  }

  .Our {

  }
}

@media (max-width: 750px ) {
  .ourgaze {
  margin-top: 0%;
  margin-left: 30%;
  }

  .Gaze {
      padding-left: 78%;
  }

.dot {
  margin-top: 270px;
  margin-left: 378px;
}

}
